db.sqlite3
venv

.DS_Store

__pycache__/

.idea/

.vscode/

settings/secret_key.py


static/
# opentelemetry/*_example.py
opentelemetry/

hxnyc.admin.log

requirements.txt 

prometheus-2.22.2.darwin-amd64/