appdirs==1.4.4
asgiref==3.2.10
certifi==2020.11.8
distlib==0.3.1
Django==3.1.2
filelock==3.0.12
gunicorn==20.0.4
importlib-metadata==2.0.0
importlib-resources==3.3.0
pipenv==2020.8.13
pkg-resources==0.0.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycryptodome==3.9.8
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
virtualenv==20.0.35
virtualenv-clone==0.5.4
zipp==3.4.0